################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
minitage.recipe  >= 0.0.1
minitage.core>=0.0.4
setuptools = 0.6c9
[part]
name = part
recipe = minitage.recipe.cmmi
url = http://download.savannah.gnu.org/releases/freetype/freetype-2.1.10.tar.gz
md5sum = 93456db388c322cf79643c2d154cb646
# freetype ABSOLUTLY NEEDS GMAKE TO COMPILE SPECIALLY ON *BSD
pre-configure-hook=${buildout:directory}/hooks.py:h
gmake=True
environment=
    CFLAGS=-fPIC



